.div_pai {
    width: 1000px;
    height: 1000px;
    background-color: red;
    padding: 20px 10px 20px 30px;
}

.div_filho {
    width: 100px;
    height: 100px;
    background-color: yellow;
    border: 2px solid white;  /* tipos de borda: solid, dashed, double, dotted */
    border-radius: 10px;
}
