* {
    margin: 0;
}

body {
    height: 100vh;
    width: 100vw;
}

.div_pai {
    width: 500px;
    height: 500px;
    background-color: black;
}

.div_pai:hover { /* hover = passar o mouse em cima */
    width: 1500px;
    height: 500px;
    background-color: red;
    transition: 2s;
}

.meu_input { /* hover = passar o mouse em cima */
    border: 1px solid black;
    display: block;
}

.meu_input:disabled { /* disabled = quando o elemento estiver desabilitado */
    border: 2px solid blue;
}

.ancora::before { /* before = conteúdo antes da tag*/
    content: '→';
}

.ancora::after { /* after = conteúdo depois da tag*/
    content: '←';
}